.gradle
/gradle
gradlew*
/target/**
/spark-greenplum-connector/target/**
/spark-greenplum-connector/build
/.idea
*.iml
/test-app/target
/test-app/build
/.metals
/.bloop
.settings
.project
.classpath
*.code-workspace
*.txt
*.log
