<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="net.logstash.logging.log4j2.core.layout">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p [%t]: %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>